#reminderPopUp {
    display: none;
    left: 50%;
    margin:0 0 0 -245px;
    padding: 15px;
    position: absolute;
    top: 100px;
    width: 30%;
    z-index: 5;
	width: 460px;
	background:  #fbfbfb;
	border: none;
}
#reminderPopUp .popupHeaderReminder {
    padding: 0;
	cursor:pointer;
}
.mark-layer{
	background: rgba(0, 0, 0, 0.3);
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
	z-index: 9991;
    width: 100%;
}

.reminderContent .uiCheckbox {
    margin-left: 0;
}

.reminderContent  .minutes {
    font-size: 24px;
}
.reminderContent .media > .pull-left {
    margin-right: 20px;
}
